@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Primary';
    src: url('./assets/fonts/f5.ttf') format('truetype');
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #f5f5f4;
}

.primary{
    background-color: #EAEB46;
}

.primaryColor{
    color: #EAEB46;
}

.secondary{
    background-color: #141414;
}

.secondaryColor{
    color: #141414;
}

#navbar-mobile{
    display: none;
}

#profile-background{
    background-color: #141414;
}

@media only screen and (max-width: 768px) {
    #profile-background{
    background-color: transparent;
    }

    #navbar-mobile{
        display: initial ;
    }

    #navbar-desktop{
        display: none;
    }
}

#order-container{
    background-color: #141414;
}